<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646059410696-ljbasa6vhk4o7n7feur3m2h3p4u2fbeq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646059410696-ljbasa6vhk4o7n7feur3m2h3p4u2fbeq</string>
	<key>API_KEY</key>
	<string>AIzaSyB_vEdcRdhw2lErWhysk_NwZQSfBrIWuHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>646059410696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sevban.ToDoListMVVM</string>
	<key>PROJECT_ID</key>
	<string>todo-99940</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-99940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646059410696:ios:65bcffa7c6de4c525ed8bd</string>
	<key>DATABASE_URL</key>
	<string>https://todo-99940.firebaseio.com</string>
</dict>
</plist>